.u-section-1 .u-sheet-1 {
  min-height: 893px;
}

.u-section-1 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 650px;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-image-1 {
  height: 368px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-metadata-1 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 21px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
  }
}