.u-section-1 .u-sheet-1 {
  min-height: 295px;
}

.u-section-1 .u-text-1 {
  font-family: Epilogue;
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Epilogue;
  margin: 51px auto 60px 183px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 67px;
    margin-left: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 48px;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 61px;
    margin-left: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin: 38px 0 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-tabs-1 {
  min-height: 480px;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 27px 16px;
}

.u-section-2 .u-image-1 {
  width: 380px;
  height: 358px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-family: "Open Sans", sans-serif;
  margin: -293px 8px 0 412px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 110px 444px 0 auto;
  padding: 15px 42px 17px 41px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -61px 98px 0 auto;
  padding: 17px 47px 19px 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -317px;
    margin-right: 0;
    margin-left: 532px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 60px;
    margin-right: 118px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 24px;
    margin-right: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 332px;
    height: 363px;
    margin-top: 4px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -314px;
    margin-right: 16px;
    margin-left: 371px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 50px;
    margin-right: 93px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 30px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 281px;
    height: 391px;
    margin-top: 24px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -375px;
    margin-right: 0;
    margin-left: 313px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 71px;
    margin-right: 28px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 16px;
    padding: 14px 24px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 560px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 201px;
    width: 335px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    font-family: Epilogue;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
    margin-right: auto;
    padding-right: 37px;
    padding-left: 35px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 25px;
    margin-right: auto;
    padding-top: 12px;
    padding-right: 30px;
    padding-left: 29px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-tabs-1 {
  min-height: 480px;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-3 .u-image-1 {
  width: 438px;
  height: 323px;
  margin: 14px auto 0 30px;
}

.u-section-3 .u-text-1 {
  font-family: "Open Sans", sans-serif;
  margin: -269px 49px 0 514px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 102px 408px 0 auto;
  padding: 15px 42px 17px 41px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -61px 60px 0 auto;
  padding: 17px 47px 19px 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 24px;
    margin-left: 51px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -327px;
    margin-right: 0;
    margin-left: 532px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 60px;
    margin-right: 118px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 24px;
    margin-right: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 332px;
    height: 363px;
    margin-top: 4px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -314px;
    margin-right: 16px;
    margin-left: 371px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 50px;
    margin-right: 93px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 30px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-3 .u-image-1 {
    width: 281px;
    height: 391px;
    margin-top: 24px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -375px;
    margin-right: 0;
    margin-left: 313px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 71px;
    margin-right: 28px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 16px;
    padding: 14px 24px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 620px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 201px;
    width: 335px;
    margin-top: 5px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-family: Epilogue;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 36px;
    margin-right: auto;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-left: 32px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 25px;
    margin-right: auto;
    padding-top: 12px;
    padding-right: 30px;
    padding-left: 29px;
  }
}